*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.question-box {
    margin-bottom: 10px;
    padding: 25px;
    background-color: #f1f1f1;
    border-radius: 5px;
  }
  
  .correct {
    background-color: #c4f4c4;
  }
  
  .incorrect {
    background-color: #f4c4c4;
  }